<!DOCTYPE html>
<html>
   <head>
      <title>Создание статьи</title>
      <link rel="stylesheet" href="{{ STATIC_URL }}/static/style.css">
   </head>
   <body>
      <div class="centered-content">
         <div class="visual-box light-bg slightly-down">
	    <h1 class="centered-text">Написать статью</h1>
	    <form method="POST">{% csrf_token %}
	       <input type="text" name="title" placeholder="Название статьи" value="{{ form.title }}">
               <br>
	       <textarea name="text" placeholder="Текст статьи">{{ form.text }}</textarea>
               <br>
	       <input type="submit" value="Создать">
	    </form>
	    {{ form.errors }}
         </div>
      </div>
   </body>
</html>
