body {
   font-family: Tahoma, Arial, sans-serif; 
}

.archive, .article {
   margin-left: auto;
   margin-right: auto;
   color: #ffffff;
}

.archive {
   background: #1abc9c;
   width: 960px; 
}

.article {
   background: #1abc9c;
   width: 1280px;
}

.header img {
   display: block; 
   width: 318px; 
   margin-left: auto; 
   margin-right: auto;
}

.post-title a:link, a {
   color: #ffffff;
   text-decoration: none;
}

.post-title a:visited, a:hover {
   color: #e0e0e0;
   text-decoration: underline;
}

.article-author { 
   width: 50%; 
   float: left;
}

.article-created-date { 
   text-align: right;
}

.content {
   background: #1a8cbc;
   padding: 5%;
}

.one-post {
   margin-bottom: 1.5cm;
}

input, textarea {
   margin: 6pt;
   padding: 3pt;
   width: 80%;
   font-size: 16pt;
}

textarea {
   height: 5cm;
}

.centered-content {
   display: flex;
   justify-content: center;
   align-content: center;
}

.centered-text {
   text-align: center;
}

.visual-box {
   border: solid;
   padding: 4pt;
}

.slightly-down {
   margin-top: 5cm;
}

.light-bg {
   background: rgba(192, 192, 192, 256);
}

.dark-bg {
   background: rgba(128, 128, 128, 256)
}

.panel {
   padding: 4px;
   text-align: right;
   background: #a0a0a0;
   font-size: 24pt;
}

.button {
   padding: 3pt;
   border: solid 2px white;
   background: grey;
}

.one-post.folded .article-info, .one-post.folded .article-text {
   display: none;
}

.fold-button {
   padding: 2pt;
   margin-bottom: 6pt;
   color: white;
   font-size: 12pt;
}
